.slogo {
  height: 80px;
  margin: 20px;
}

.navBtn {
  float: right;
  background-color: black;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

nav {
  max-width: 100%;
  margin: 0 auto;
}

.leftUl {
  float: left;
  margin-left: -130px;
  width: 15%;
}

.rightUl {
  float: right;
  padding-top: 2%;
}

.rightUll {
  float: right;
  padding-top: 2%;
}

nav ul li {
  display: inline-block;
}

nav ul {
  display: inline-block;
}

nav ul li a {
  padding: 0px;
  font-family: "Open Sans";
  outline: none;
  color: white;
  font-size: 18px;
  text-decoration: none;
  display: block;
  margin-left: 5%;
}

/* nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
} */

.logo {
  width: 30%;
  height: 131px;
}
.book {
  display: inline;
  margin-inline-start: 35%;
}
nav ul li span img {
  width: 30%;
}

.rightUl {
  padding-top: 1%;
}

.rightUl li a {
  padding: 18px;
  font-family: "Open Sans";
  color: black;
  font-size: 18px;
  text-decoration: none;
  display: block;
  outline:none;
  margin-left: 0ch;
  padding-top: 0ch;
}

.rightUll {
  padding-top: 1%;
}

.rightUll li a {
  padding: 18px;
  font-family: "Open Sans";
  color: white;
  font-size: 18px;
  text-decoration: none;
  display: block;
  margin-left: 0ch;
  outline:none;
  padding-top: 0ch;
}

.divNav {
  height: auto;
  width: unset;
}
